In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data = pd.get_dummies(data, dtype=int,drop_first=True)

In [5]:
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:

# Axis =  1 --> Column wise delete
# Axis = 0 ---> Row wise delete
data = data.drop("User ID",axis = 1)

In [7]:
data

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
Independent = data[['Gender_Male','Age','EstimatedSalary']]

In [9]:
Independent

     Gender_Male  Age  EstimatedSalary
0              1   19            19000
1              1   35            20000
2              0   26            43000
3              0   27            57000
4              1   19            76000
..           ...  ...              ...
395            0   46            41000
396            1   51            23000
397            0   50            20000
398            1   36            33000
399            0   49            36000

[400 rows x 3 columns]

In [10]:
Dependent = data[['Purchased']]

In [11]:
Dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Independent, Dependent, test_size = 0.30, random_state = 42)

In [13]:
X_train

     Gender_Male  Age  EstimatedSalary
157            1   29            75000
109            0   38            80000
17             1   45            26000
347            0   54           108000
24             1   46            23000
..           ...  ...              ...
71             0   24            27000
106            0   26            35000
270            0   43           133000
348            1   39            77000
102            0   32            86000

[280 rows x 3 columns]

In [14]:
X_test

     Gender_Male  Age  EstimatedSalary
209            0   46            22000
280            0   59            88000
33             0   28            44000
210            0   48            96000
93             0   29            28000
..           ...  ...              ...
60             1   27            20000
79             0   26            17000
285            0   37            93000
305            1   42            54000
281            1   35            61000

[120 rows x 3 columns]

In [15]:
y_train

     Purchased
157          0
109          0
17           1
347          1
24           1
..         ...
71           0
106          0
270          0
348          0
102          0

[280 rows x 1 columns]

In [16]:
y_test

     Purchased
209          0
280          1
33           0
210          1
93           0
..         ...
60           0
79           0
285          1
305          0
281          0

[120 rows x 1 columns]

In [59]:
from sklearn.linear_model import LogisticRegression

classifier=LogisticRegression(penalty='l2',random_state=42,solver='lbfgs')

classifier.fit(X_train, y_train)

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=42)

In [60]:
y_pred = classifier.predict(X_test)

In [61]:
from sklearn.metrics import confusion_matrix

In [62]:
confusion_matrix(y_test,y_pred)

array([[73,  0],
       [47,  0]], dtype=int64)

In [63]:
from sklearn.metrics import classification_report

In [50]:
Clf_report = classification_report(y_test, y_pred)

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [51]:
Clf_report

'              precision    recall  f1-score   support\n\n           0       0.61      1.00      0.76        73\n           1       0.00      0.00      0.00        47\n\n    accuracy                           0.61       120\n   macro avg       0.30      0.50      0.38       120\nweighted avg       0.37      0.61      0.46       120\n'

In [52]:
Gender = int(input("Enter you gender (Male: 1, Female: 0): "))
Age = int(input("Enter you Age: "))
Estimated_Salary = int(input("Enter your Estimated Salary: "))

classifier.predict([[Gender, Age, Estimated_Salary]])

Enter you gender (Male: 1, Female: 0):  0
Enter you Age:  56
Enter your Estimated Salary:  5678

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [31]:
import pickle

In [32]:
fname="final_model_pred.pkl"

In [33]:
pickle.dump(classified,open(fname,'wb'))

In [34]:
loaded_model=pickle.load(open("final_model_pred.pkl",'rb'))
loaded_model

SVC(kernel='sigmoid', random_state=42)

In [35]:
result=loaded_model.predict([[Gender,Age,Estimated_Salary]])

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [36]:
result

array([0], dtype=int64)